+popup-template(1, "Консультация","Благодарим за обращение. Наш менеджер перезвонит вам в ближайшее время.") 
	- var backCallField = [["text","Ваше имя*","col-12"],["phone","col-12"],["sumbit","О","col-12"],["checkbox","Я согласен(-на) на обработку персональных данных ","col-12"],["submit","btn btn--yellow-green btn-send","col-12"]];
	+form(backCallField)