include ../../default/build-header
		
// header end
.stub
+roofContent("Lorem impusm")
	include ../detail/main.pug
	include ../detail/reviews.pug
include ../home/feedback.pug
include ../detail/news-last.pug
// footer start 
.stub-footer
include ../../blocks/footer.pug

// footer end   