include ../default/build-header
// main start
include home/main.pug 
// main end
include home/feedback.pug

include home/news.pug
include home/advantages.pug
include home/contacts.pug
 
// main page content end

// footer start 

include ../blocks/footer.pug

// footer end 