include items/news-item.pug 
include items/contacts-item.pug 
include items/reviews-item.pug
include pagination.pug
include forms-inputs.pug
include popup.pug
include social.pug
include roof-content.pug 