section.news-home
	.main-full.head-section
		h2.title-section 
			| Новости
	.main-grid.owl-tablet.owl-carousel
		.col-3
			+newsItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum","11.12.2022")
		.col-3
			+newsItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum","11.12.2022")
		.col-3
			+newsItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum","11.12.2022")
		.col-3
			+newsItem("Lorem ipsum","Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum","11.12.2022")
	.btn-container-section
		a(href="#").btn.btn--black  Все Новости  